<mat-card class="mat-elevation-z4">
    <div class="search">
        <mat-card-title>Search Product</mat-card-title>
        <form>
            <mat-form-field>
                <input matInput placeholder="Name" [(ngModel)]="productName" name="productName">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Min Price (R$)" [(ngModel)]="minPrice" name="minPrice" type="number" step="0.01"
                    min="0">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Max Price (R$)" [(ngModel)]="maxPrice" name="maxPrice" type="number" step="0.01"
                    min="0">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Category</mat-label>
                <mat-select [(ngModel)]="categoryId" name="categoryId">
                    <mat-option value="" selected hidden>All</mat-option>
                    <mat-option *ngFor="let category of categories" [value]="category.id"> {{ category.name }} </mat-option>
                </mat-select>
            </mat-form-field>
        </form>
        
        <button mat-raised-button (click)="searchProduct()" color="primary">Search</button>
    </div>

    <ng-container #tableContainer></ng-container>

    <ng-template #tableTemplate>
        <mat-divider></mat-divider>
        <app-product-read [productsData]="productsData$" [pageSize]="5" [pageSizeOptions]="[5]"></app-product-read>
    </ng-template>
</mat-card>
