button { 
    margin: 20px 15px 0 0;
}

table {
    padding: 16px;
    width: 100%;
}

i {
    margin-right: 10px;
}

.columns-fixed {
    table-layout: fixed;
    width: 100%;
}

.table-container {
    margin-top: 20px;
}

.edit > i {
    color: #d9cd26;
}

.delete > i{
    color: #e35e6b;
}

.buy > i {
    color: #34d170;
}

.filter-field {
    margin: 15px 20px 0;
}
