button { 
    margin: 16px 16px 0 0;
}

.table-container {
    margin-top: 20px;
}

.edit > i {
    color: #d9cd26;
}

.delete > i{
    color: #e35e6b;
}

.buy > i {
    color: #34d170;
}

form {
    display: flex;
    flex-direction: row;
    width: 60%;
    justify-content: space-between;
    align-items: center;
    line-height: 140px;
    vertical-align: middle;
}

mat-form-field {
    padding: 0;
}

.info > i {
    color: #3cade2
}

.progress-bar {
    margin-top: 32px;
}

.search {
    margin-bottom: 16px;
}
