button { 
    margin: 20px 15px 0 0;
}

table {
    padding: 16px;
    width: 100%;
}

.columns-fixed {
    table-layout: fixed;
    width: 100%;
}

.table-container {
    margin-top: 20px;
}

.buy > i {
    color: #34d170;
}

.filter-field {
    margin: 15px 20px 0;
}
