table {
    width: 100%;
}

.columns-fixed {
    table-layout: fixed;
    width: 100%;
}

.edit {
    margin-right: 10px;
}

.edit > i {
    color: #d9cd26;
}

.delete > i{
    color: #e35e6b;
}

.filter-field {
    margin-left: 20px;
}
