table {
    width: 100%;
}

.columns-fixed {
    table-layout: fixed;
    width: 100%;
}

i {
    margin-right: 10px;
}

.edit > i {
    color: #ecde1c;
}

.delete > i{
    color: #e35e6b;
}

.buy > i {
    color: #34d170;
}

.info > i {
    color: #3cade2
}

.filter-field {
    margin-left: 20px;
}
