<mat-card>
    <mat-card-title>Delete Product</mat-card-title>
    <form>
        <mat-form-field>
            <input matInput placeholder="Name" [value]="product.name" name="name" disabled>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Price (R$)" [value]="product.price" name="price" disabled>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Amount" [value]="product.amount" name="amount" disabled>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Description" [value]="product.description" name="description" disabled>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-select [value]="product.categoryId" name="categoryId" [placeholder]="product.category" disabled>
                <mat-option [value]="product.categoryId"> {{ product.category }} </mat-option>
            </mat-select>
        </mat-form-field>
    </form>

    <button mat-raised-button (click)="deleteProduct()" color="warn">Delete</button>
    <button mat-raised-button (click)="cancel()">Cancel</button>
</mat-card>
