table {
    width: 100%;
}

.columns-fixed {
    table-layout: fixed;
    width: 100%;
}

i {
    margin-right: 10px;
}

.edit > i {
    color: #ecde1c;
}

.delete > i{
    color: #e35e6b;
}

.filter-field {
    margin-left: 20px;
}

.progress-bar {
    margin-bottom: 32px;
}
