<mat-card class="home mat-elevation-z4">
    <mat-card-title class="title">Welcome!</mat-card-title>
    <mat-card-subtitle class="subtitle">to Product Management System</mat-card-subtitle>
    <mat-card-content class="content">
        <p>Here you can:</p>
        <ul>
            <li>Add new products to stock</li>
            <li>See informations about the product</li>
            <li>Search for products based on their price or category</li>
            <li>Buy products</li>
        </ul>
    </mat-card-content>
</mat-card>
