<mat-card>
    <mat-card-title>Edit Product</mat-card-title>
    <form>
        <mat-form-field>
            <input matInput placeholder="Name" [(ngModel)]="product.name" name="name">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Price (R$)" [(ngModel)]="product.price" name="price" type="number" step="0.01" min="0">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Amount" [(ngModel)]="product.amount" name="amount" type="number" step="1" min="0">
        </mat-form-field>
        <mat-form-field>
            <textarea matInput placeholder="Description" [(ngModel)]="product.description" name="description"></textarea>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-select [(ngModel)]="product.categoryId" name="categoryId">
                <mat-option *ngFor="let category of categories" [value]="category.id"> {{ category.category }} </mat-option>
            </mat-select>
        </mat-form-field>
    </form>

    <button mat-raised-button (click)="updateProduct()" color="primary">Update</button>
    <button mat-raised-button (click)="cancel()">Cancel</button>
</mat-card>
