<mat-card class="mat-elevation-z4">


    <div class="header">
        <mat-card-title>{{product.name}}</mat-card-title>
        <mat-card-subtitle>Unit price: <strong>{{ product.price | currency: 'BRL' }}</strong></mat-card-subtitle>
    </div>
    <mat-divider></mat-divider>
    <mat-card-content>
        <p>
            Enter the following data to complete the purchase
        </p>
    </mat-card-content>
    <mat-horizontal-stepper [linear]="isLinear" #stepper>

        <mat-step [stepControl]="firstFormGroup" state="badge">
            <form [formGroup]="firstFormGroup">
                <ng-template matStepLabel>Fill out your name</ng-template>
                <mat-form-field>
                    <mat-label>Name</mat-label>
                    <input matInput placeholder="Your name" formControlName="customer" name="customer" required>
                </mat-form-field>
                <div>
                    <button color="primary" mat-raised-button matStepperNext>Next</button>
                </div>
            </form>
        </mat-step>
        <mat-step [stepControl]="secondFormGroup" state="home">
            <form [formGroup]="secondFormGroup">
                <ng-template matStepLabel>Fill out your address</ng-template>
                <mat-form-field>
                    <mat-label>Address</mat-label>
                    <input matInput formControlName="address" placeholder="Ex. 1 Main St, New York, NY" name="address"
                        required>
                </mat-form-field>
                <div>
                    <button mat-raised-button matStepperPrevious>Back</button>
                    <button mat-raised-button matStepperNext color="primary">Next</button>
                </div>
            </form>
        </mat-step>
        <mat-step [stepControl]="thirdFormGroup" state="money">
            <form [formGroup]="thirdFormGroup">
                <div>
                    <ng-template matStepLabel>Amount</ng-template>
                    <mat-label>How many units do you want to buy?</mat-label>
                    <mat-slider matInput formControlName="amount" class="slider" required color="primary" [max]="max"
                        min="0" step="1" [thumbLabel]="thumbLabel" name="amount" (change)="onChange()">
                    </mat-slider>
                    <h1>Units: <strong>{{ thirdFormGroup.value.amount }}</strong></h1> 
                    <h1>Current total: <strong>{{ total | currency: 'BRL' }}</strong></h1>
                </div>

                <div>
                    <button mat-raised-button matStepperPrevious>Back</button>
                    <button mat-raised-button matStepperNext color="primary" *ngIf="purchaseEnabled">Next</button>
                <button mat-raised-button type="submit" class="btn-error" *ngIf="!purchaseEnabled" [disabled]="!purchaseEnabled">Choose at least 1 unit</button>

                </div>
            </form>
        </mat-step>

        <mat-step state="verified" editable="false" *ngIf="purchaseEnabled">
            <ng-template matStepLabel>Finish purchase</ng-template>
            <p>Do you want to finish your purchase?</p>
            <h1>Total Price (R$): <strong>{{ total | currency: 'BRL' }}</strong></h1>
            <div>
                <button mat-raised-button matStepperPrevious>Back</button>
                <button mat-raised-button type="submit" class="btn-finish" (click)="finishPurchase()">Finish</button>
                <!-- <button mat-raised-button type="submit" class="btn-finish" (click)="finishPurchase()" *ngIf="purchaseEnabled">Finish</button>
                <button mat-raised-button type="submit" class="btn-error" *ngIf="!purchaseEnabled" [disabled]="!purchaseEnabled">Choose at least 1 unit</button> -->
            </div>
        </mat-step>

    </mat-horizontal-stepper>

</mat-card>
