<mat-toolbar class="footer">
    <span>
        Made with 
        <i class="material-icons v-middle" appRed>
            favorite
        </i>
        by 
        <a href="https://www.linkedin.com/in/kevinsantosguedes/" target="_blank"> 
           <strong>Kevin Guedes</strong>
        </a>
    </span>   
    <ul>
        <!-- <li *myFor="let n em [1, 2, 4] usando 'teste'"></li> -->
        <!-- <li *myFor="let n em [1, 2, 4] usando 'teste'"> {{ n }}</li> -->
        <!-- <li *myFor="let n"> {{ n }}</li> para não afzer a declaração na diretiva -->
    </ul>
</mat-toolbar>
