.btn-edit {
    color: #fff;
    background-color: #ecde1c;
}

.btn-buy {
    color: #fff;
    background-color: #34d170;
}

.btn-delete {
    color: #fff;
    background-color: #e35e6b;
}

.actions { 
    padding-top: 16px;
}

button + button{
    margin-left: 20px;
}
